body {
    background-color: white;
}
button {
    background-color: darkseagreen;
    display: flexbox;
    justify-content: space-between;
    color: black;
    font-size: 20px;
    width: 100px;
    height: 40px;
    margin: 130px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    border-radius: 6px;
    font-style: italic;
    user-select: contain;
    border: none;
    align-items: center;
    text-transform: uppercase;
    padding-top: 7px;
}
button:hover {
    transform: translateY(2px);
    background-color: gray;
}
button:active {
    background-color: darkslategray;
    filter: blur(1px);
}
img:hover{
    transform: translateX(2px);
}